<form class="{{cssClass}} -m-2 p-2 bg-gray-200">
  <div class="">
    <div class="flex gap-2">
      <img
        class="profile-img w-24 h-24 object-contain"
        src="{{actor.img}}"
        title="{{actor.name}}"
        data-edit="img"
      />
      <div class="flex-grow grid grid-cols-3 items-center gap-1">
        <input
          name="name"
          class="text-2xl col-span-3 px-1.5 py-3.5 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
          type="text"
          value="{{actor.name}}"
          placeholder="{{localize 'swnr.sheet.name'}}"
        />
        <input
          class="px-1.5 py-3.5 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
          name="data.class"
          value="{{actor.data.class}}"
          placeholder="{{localize 'swnr.sheet.class'}}"
          type="text"
        />
        <input
          class="px-1.5 py-3.5 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
          name="data.species"
          type="text"
          value="{{actor.data.species}}"
          placeholder="{{localize 'swnr.sheet.species'}}"
        />
        <div class="pr-0.5 text-lg">
          <div
            class="gap-1 pl-1 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md flex items-center"
          >
            <label>{{localize 'swnr.sheet.level'}}</label>
            <input
              type="number"
              class="bg-transparent flex-shrink w-full"
              min="1"
              step="1"
              name="data.level.value"
              value="{{actor.data.level.value}}"
              data-dtype="Number"
            />
          </div>
        </div>
        <div
          class="saves col-span-3 flex-shrink-0 flex flex-row justify-between py-1 flex-wrap gap-2"
        >
          <div
            data-save-type="physical"
            class="save sheet-button gap-2"
          >
            v{{actor.data.save.physical}} {{localize
            'swnr.sheet.saves.physical'}}
            <i class="fas fa-dice-d20"></i>
          </div>
          <div
            data-save-type="evasion"
            class="save sheet-button gap-2"
          >
            v{{actor.data.save.evasion}} {{localize 'swnr.sheet.saves.evasion'}}
            <i class="fas fa-dice-d20"></i>
          </div>
          <div
            data-save-type="mental"
            class="save sheet-button gap-2"
          >
            v{{actor.data.save.mental}} {{localize 'swnr.sheet.saves.mental'}}
            <i class="fas fa-dice-d20"></i>
          </div>
          {{#if useHomebrewLuckSave}}
          <div
            data-save-type="luck"
            class="save sheet-button gap-2"
          >
            v{{actor.data.save.luck}} {{localize 'swnr.sheet.saves.luck'}}
            <i class="fas fa-dice-d20"></i>
          </div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
  <div class="flex gap-2">
    <div class="flex flex-col flex-shrink flex-wrap gap-1">
      <div class="stats -text-xs">
        <table>
          <thead>
            <tr>
              <th class="statRoll px-1 hover:text-shadow hover:text-shadow-blueGray-900 cursor-pointer transition-text-shadow">
                {{localize 'swnr.sheet.stats'}} <i class="fas fa-dice-d20"></i>
              </th>
              <th class="px-1 hidden lg:table-cell">
                {{localize 'swnr.sheet.base'}}
              </th>
              <th class="px-1 hidden lg:table-cell">
                {{localize 'swnr.sheet.boosts'}}
              </th>
              <th class="px-1 hidden lg:table-cell">
                {{localize 'swnr.sheet.bonus'}}
              </th>
              <th class="px-1">{{localize 'swnr.sheet.modifier'}}</th>
            </tr>
          </thead>
          {{#each actor.data.stats as |stat key|}}
          <tr>
            <td>
              <label for="data.stats.{{key}}.base" class="resource-label px-1">
                {{localize (concat 'swnr.stat.long.' key)}}
              </label>
            </td>
            <td class="text-center hidden lg:table-cell">
              <input
                type="number"
                class="w-8 px-1.5 py-3 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
                min="3"
                max="18"
                step="1"
                name="data.stats.{{key}}.base"
                value="{{stat.base}}"
                data-dtype="Number"
              />
            </td>
            <td class="text-center hidden lg:table-cell">
              <input
                type="number"
                class="w-8 px-1.5 py-3 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
                min="0"
                max="5"
                step="1"
                name="data.stats.{{key}}.boost"
                value="{{stat.boost}}"
                data-dtype="Number"
              />
            </td>
            <td class="text-center hidden lg:table-cell">
              <input
                type="number"
                class="w-8 px-1.5 py-3 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
                min="0"
                max="3"
                step="1"
                name="data.stats.{{key}}.bonus"
                value="{{stat.bonus}}"
                data-dtype="Number"
              />
            </td>
            <td class="text-center">
              <span class="stat-mod">
                {{numberFormat stat.mod decimals=0 sign=true}}
              </span>
            </td>
          </tr>
          {{/each}}
        </table>
      </div>
      <div class="core-stats grid grid-cols-1 lg:grid-cols-3 gap-1 text-center">
        <div class="hp flex flex-col justify-center items-center">
          <div class="border border-gray-800 bg-gray-400 mx-auto rounded-md">
            <input
              class="w-8 text-right pl-1.5 py-3.5 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
              type="number"
              step="1"
              name="data.health.value"
              value="{{data.health.value}}"
              data-dtype="Number"
              min="0"
            /><span>/</span
            ><input
              class="w-8 text-left pr-1.5 py-3.5 bg-opacity-75 bg-gray-400 placeholder-blue-800 placeholder-opacity-75 rounded-md"
              type="number"
              name="data.health.max"
              value="{{data.health.max}}"
              step="1"
              min="1"
              data-dtype="Number"
            />
          </div>
          <label class="hp-label hover:text-shadow hover:text-shadow-blueGray-600 cursor-pointer transition-text-shadow"
            >{{localize 'swnr.sheet.hp'}} <i class="fas fa-dice-d20"></i
          ></label>
        </div>

        <div class="system flex flex-col items-center justify-center">
          <div class="border border-gray-800 bg-gray-400 mx-auto rounded-md">
            <input
              class="w-8 text-right pl-1.5 py-3.5 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
              type="number"
              name="data.systemStrain.value"
              value="{{data.systemStrain.value}}"
              data-dtype="Number"
            />/<span
              class="inline-block text-left text-gray-700 cursor-not-allowed w-8"
              >{{data.systemStrain.max}}</span
            >
          </div>

          <label>{{localize 'swnr.sheet.system-strain'}}</label>
        </div>
        <div class="perm-sys flex flex-col items-center">
          <input
            class="w-10 text-center px-1.5 py-3.5 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
            type="number"
            min="0"
            name="data.systemStrain.permanent"
            value="{{data.systemStrain.permanent}}"
          />
          <label>{{localize 'swnr.sheet.permanent-strain'}}</label>
        </div>
        <div class="exp flex flex-col justify-center items-center">
          <div class="border border-gray-800 bg-gray-400 mx-auto rounded-md">
            <input
              class="w-8 text-right pl-1.5 py-3.5 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
              type="number"
              step="1"
              name="data.level.exp"
              min="0"
              data-dtype="Number"
              value="{{data.level.exp}}"
            /><span>/</span
            ><input
              class="w-8 text-left pr-1.5 py-3.5 bg-opacity-75 bg-gray-400 placeholder-blue-800 placeholder-opacity-75 rounded-md"
              type="number"
              step="1"
              name="data.level.expToLevel"
              min="0"
              data-dtype="Number"
              value="{{data.level.expToLevel}}"
            />
          </div>

          <label>{{localize 'swnr.sheet.xp'}}</label>
        </div>
        <div class="ac flex flex-col justify-around items-center">
          <div>{{data.ac}}</div>
          <label>{{localize 'swnr.sheet.armor-class'}}</label>
        </div>
        <div class="ab flex flex-col justify-around items-center">
          <input
            class="w-10 text-center px-1.5 py-3.5 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
            type="number"
            step="1"
            name="data.ab"
            min="-9"
            max="99"
            data-dtype="Number"
            value="{{data.ab}}"
          />
          <label>{{localize 'swnr.sheet.attack-bonus'}}</label>
        </div>
        <div class="flex flex-col items-center">
          <input
            class="w-20 text-center px-1.5 py-3.5 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
            type="number"
            step="1"
            name="data.credits.debt"
            data-dtype="Number"
            value="{{data.credits.debt}}"
          />
          <label for="data.credits.debt">{{localize 'swnr.credits.debts'}}</label>
        </div>
        <div class="flex flex-col items-center">
          <input
            class="w-20 text-center px-1.5 py-3.5 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
            type="number"
            step="1"
            name="data.credits.balance"
            data-dtype="Number"
            value="{{data.credits.balance}}"
          />
          <label for="data.credits.balance">{{localize "swnr.credits.balance"}}</label>
        </div>
        <div class="flex flex-col items-center">
          <input
            class="w-20 text-center px-1.5 py-3.5 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
            type="number"
            step="1"
            name="data.credits.owed"
            data-dtype="Number"
            value="{{data.credits.owed}}"
          />
          <label for="data.credits.owed">{{localize "swnr.credits.owed"}}</label>
        </div>
        <div></div>
      </div>
      <div class="flex-col flex gap-1">
        <h3>{{localize 'swnr.effort.title'}}</h3>
        <div class="flex flex-col lg:flex-row gap-1">
          <div>
            <label for="data.effort.bonus">
              {{localize 'swnr.effort.bonus'}}:
            </label>
            <input
              class="w-10 text-center px-1.5 py-3.5 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
              type="number"
              step="1"
              name="data.effort.bonus"
              value="{{data.effort.bonus}}"
              data-dtype="Number"
            />
          </div>
          <div>
            <label for="data.effort.current">
              {{localize 'swnr.effort.current'}}:
            </label>
            <input
              class="w-10 text-center px-1.5 py-3.5 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
              type="number"
              min="0"
              step="1"
              max="{{concat data.effort.current data.effort.value}}"
              name="data.effort.current"
              value="{{data.effort.current}}"
              data-dtype="Number"
            />
          </div>
          <div>
            <label for="data.effort.scene">
              {{localize 'swnr.effort.scene'}}:
            </label>
            <input
              class="w-10 text-center px-1.5 py-3.5 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
              type="number"
              min="0"
              step="1"
              max="{{concat data.effort.scene data.effort.value}}"
              name="data.effort.scene"
              value="{{data.effort.scene}}"
              data-dtype="Number"
            />
          </div>
          <div>
            <label for="data.effort.day"
              >{{localize 'swnr.effort.day'}}:
            </label>
            <input
              class="w-10 text-center px-1.5 py-3.5 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
              type="number"
              min="0"
              step="1"
              max="{{concat data.effort.day data.effort.value}}"
              name="data.effort.day"
              value="{{data.effort.day}}"
              data-dtype="Number"
            />
          </div>
        </div>
        <div class="flex gap-2 items-center">
          <div>{{data.effort.value}}/{{data.effort.max}}</div>
          <div
            class="bg-purple-300 border border-purple-900 w-full rounded-full h-4 overflow-hidden"
          >
            <div
              class="bg-purple-500 h-full rounded-full"
              style="width: min(calc(100% * {{data.effort.value}}/{{data.effort.max}}));"
            ></div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full">
      <nav
        class="pc-sheet-tabs tabs py-1 flex flex-wrap gap-2 border-t border-b border-trueGray-500 border1 mb-1"
        data-group="primary"
      >
        <a class="item" data-tab="biography">
          {{localize 'swnr.sheet.tabs.biography'}}
        </a>
        <a class="item" data-tab="combat">
          {{localize 'swnr.sheet.tabs.combat'}}
        </a>
        <a class="item" data-tab="inventory">
          {{localize 'swnr.sheet.tabs.inventory'}}
        </a>
        <a class="item" data-tab="skills">
          {{localize 'swnr.sheet.tabs.skills'}}
        </a>
        <a class="item" data-tab="foci">{{localize 'swnr.sheet.tabs.foci'}}</a>
      </nav>
      <section class="sheet-body">
        <div
          class="tab biography min-h-full"
          data-group="primary"
          data-tab="biography"
        >
          <div class="flex gap-1">
            <input
              class="px-1.5 py-3.5 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
              name="data.homeworld"
              value="{{actor.data.homeworld}}"
              placeholder="{{localize 'swnr.sheet.homeworld'}}"
              type="text"
            />
            <input
              class="px-1.5 py-3.5 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
              name="data.background"
              value="{{actor.data.background}}"
              placeholder="{{localize 'swnr.sheet.background'}}"
              type="text"
            />
            <input
              class="px-1.5 py-3.5 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
              name="data.employer"
              value="{{actor.data.employer}}"
              placeholder="{{localize 'swnr.sheet.employer'}}"
              type="text"
            />
          </div>
          <div class="bg-gray-300 border border-gray-700 rounded-md p-2 mt-4">
            {{editor content=data.biography target="data.biography" button=true
            owner=owner editable=editable}}
          </div>
        </div>
        <div class="tab combat" data-group="primary" data-tab="combat">
          <div class="flex gap-1">
            <div class="flex-grow">
              <h4 class="text-lg underline text-center">
                {{localize 'swnr.sheet.tabs.weapons'}}
              </h4>
              <div class="space-y-2">
                {{#each itemTypes.weapon as |item id|}} {{>
                "systems/swnr/templates/actors/fragments/weapon.html" item=item
                damageBonus=(concat actor.data.data.ab (getPCStatModForWeapon
                actor item true)) type=actor.data.type actor=actor }} {{/each}}
              </div>
            </div>
            <div class="flex-grow">
              <h4 class="text-lg underline text-center">
                {{localize 'swnr.sheet.tabs.armor'}}
              </h4>
              <div class="flex gap-1 flex-col">
                <li class="item armor text-center flex items-center gap-1">
                  <h4>{{localize 'swnr.armor.innateArmorClass'}}</h4>
                  <input
                    type="number"
                    class="w-8 text-center px-1.5 py-3.5 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
                    min="1"
                    step="1"
                    name="data.baseAc"
                    value="{{actor.data.baseAc}}"
                    data-dtype="Number"
                  />
                </li>
                {{#each itemTypes.armor as |item id|}} {{>
                "systems/swnr/templates/actors/fragments/armor.html" item=item
                type=actor.data.type}} {{/each}}
              </div>
            </div>
            <div class="flex-grow">
              <h4 class="text-lg underline text-center">
                {{localize 'swnr.sheet.tabs.powers'}}
              </h4>
              <div class="flex gap-1 flex-col">
                {{#each itemTypes.power as |item id|}} {{>
                "systems/swnr/templates/actors/fragments/power.html" item=item
                type=actor.data.type}} {{/each}}
              </div>
            </div>
          </div>
        </div>
        <div class="tab inventory" data-group="primary" data-tab="inventory">
          <div class="grid grid-cols-2 gap-1 p-1">
            <div class="text-center text-base">
              {{localize 'swnr.item.locationReadied'}}:
              {{data.encumbrance.ready.value}}/{{data.encumbrance.ready.max}}
            </div>
            <div
              class="w-full border border-green-600 bg-green-200 rounded-full row-start-2"
            >
              <div
                class="h-2 bg-green-400 rounded-full"
                style="width: min(100%, calc(100% * {{data.encumbrance.ready.value}}/{{data.encumbrance.ready.max}}));"
              ></div>
            </div>
            <div class="text-center text-base">
              {{localize 'swnr.item.locationStowed'}}:
              {{data.encumbrance.stowed.value}}/{{data.encumbrance.stowed.max}}
            </div>
            <div
              class="w-full border border-yellow-600 bg-yellow-200 rounded-full"
            >
              <div
                class="h-2 bg-yellow-400 rounded-full"
                style="width: min(100%, calc(100% * {{data.encumbrance.stowed.value}}/{{data.encumbrance.stowed.max}}));"
              ></div>
            </div>
          </div>
          <div class="flex flex-wrap gap-2">
            {{#each itemTypes.weapon as |item id|}}
            <div class="w-36 flex-grow">
            {{> "systems/swnr/templates/actors/fragments/item.html" type="character" item=item id=id}}
            </div>
            {{/each}}
            {{#each itemTypes.armor as |item id|}}
            <div class="w-36 flex-grow">
            {{> "systems/swnr/templates/actors/fragments/item.html" type="character"  item=item id=id}}
            </div>
            {{/each}} 
            {{#each itemTypes.item as |item id|}}
            <div class="w-36 flex-grow">
            {{> "systems/swnr/templates/actors/fragments/item.html" type="character"  item=item id=id}}
            </div>
            {{/each}}
          </div>
        </div>
        <div class="tab skills" data-group="primary" data-tab="skills">
          {{#if (ne itemTypes.skill.length 0)}}
          <div class="flex gap-2 pt-1 flex-wrap">
            {{#each itemTypes.skill as |item id|}} {{>
            "systems/swnr/templates/actors/fragments/skill.html" item=item
            type=actor.data.type}} {{/each}}
          </div>
          {{else}}
          <button class="skill-load-button" style="margin-top: 3em"
            type="button">
            No skills? Click here to add some!
          </button>
          {{/if}}
        </div>
        <div class="tab foci" data-group="primary" data-tab="foci">
          <div class="flex flex-wrap gap-2">
            {{#each itemTypes.focus as |item id|}} {{>
            "systems/swnr/templates/actors/fragments/focus.html" item=item
            type=actor.data.type}} {{/each}}
          </div>
        </div>
      </section>
    </div>
  </div>
</form>
