<form class="{{cssClass}} bg-gray-200 -m-2 p-2 space-y-2">
  <div>
    <div class="flex gap-2">
      <div class="flex-shrink-0 h-40 hidden md:block lg:h-16 md:w-16">
        <img
          class="shadow-md bg-gray-100 h-full w-full object-contain"
          src="{{actor.img}}"
          title="{{actor.name}}"
          data-edit="img"
        />
      </div>
      <div class="flex-grow grid grid-cols-1 lg:grid-cols-6 items-center gap-2">
        <input
          class="text-2xl col-span-3 px-1.5 py-3.5 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
          name="name"
          type="text"
          value="{{actor.name}}"
          placeholder="{{localize 'swnr.sheet.name'}}"
        />
        <h2 class="col-span-3 flex items-center gap-2">
          <select
            class="flex-grow w-full border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
            name="data.reaction"
          >
            {{#select actor.data.data.reaction}}
            <option value="unknown">
              {{localize 'swnr.npc.reaction.unknown'}}
            </option>
            <option value="hostile">
              {{localize 'swnr.npc.reaction.hostile'}}
            </option>
            <option value="negative">
              {{localize 'swnr.npc.reaction.negative'}}
            </option>
            <option value="neutral">
              {{localize 'swnr.npc.reaction.neutral'}}
            </option>
            <option value="positive">
              {{localize 'swnr.npc.reaction.positive'}}
            </option>
            <option value="friendly">
              {{localize 'swnr.npc.reaction.friendly'}}
            </option>
            {{/select}}
          </select>
          <a class="reaction">
            <i class="fa fa-dice-d6"></i>
          </a>
        </h2>
        <input
          class="hidden sm:block col-span-2 border px-1 border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
          name="data.species"
          type="text"
          value="{{actor.data.data.species}}"
          placeholder="{{localize 'swnr.sheet.species'}}"
        />
        <input
          class="hidden sm:block col-span-2 border px-1 border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
          name="data.homeworld"
          value="{{actor.data.data.homeworld}}"
          placeholder="{{localize 'swnr.sheet.homeworld'}}"
          type="text"
        />
        <input
          class="hidden sm:block col-span-2 border px-1 border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
          name="data.faction"
          value="{{actor.data.data.faction}}"
          placeholder="{{localize 'swnr.sheet.faction'}}"
          type="text"
        />
      </div>
    </div>
  </div>
  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 justify-between w-full border p-1 gap-2 border-trueGray-600 rounded-md bg-trueGray-300"
  >
    <div class="flex flex-col gap-1">
      <h3 class="text-lg">{{localize 'swnr.sheet.stats'}}</h3>
      <div>
        {{localize 'swnr.sheet.hp'}}:
        <input
          class="w-8 border text-center px-1 border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
          type="number"
          name="data.health.value"
          min="0"
          step="1"
          value="{{actor.data.data.health.value}}"
        />/<input
          class="w-8 border text-center px-1 border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
          type="number"
          name="data.health.max"
          min="0"
          step="1"
          value="{{actor.data.data.health.max}}"
        />
      </div>
      <div>
        {{localize 'swnr.sheet.hit-dice'}}:
        <input
          class="w-8 border text-center px-1 border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
          type="number"
          name="data.hitDice"
          min="1"
          step="1"
          value="{{actor.data.data.hitDice}}"
        />
        <a class="hit-dice-roll">
          <i class="fa fa-dice-d6"></i>
        </a>
      </div>        
      <div>
        {{localize 'swnr.sheet.armor-class'}}:
        <input
          class="w-8 border text-center px-1 border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
          type="number"
          name="data.baseAc"
          min="0"
          step="1"
          value="{{actor.data.data.baseAc}}"
        />
      </div>
      <div>
        {{localize 'swnr.armor.type.label'}}:
        <select
          name="data.armorType"
          class="border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
        >
          {{#select data.armorType}}
          <option value="primitive">
            {{localize 'swnr.armor.type.primitive'}}
          </option>
          <option value="street">{{localize 'swnr.armor.type.street'}}</option>
          <option value="combat">{{localize 'swnr.armor.type.combat'}}</option>
          <option value="powered">
            {{localize 'swnr.armor.type.powered'}}
          </option>
          {{/select}}
        </select>
      </div>
      <div class="flex items-baseline gap-1">
        {{localize 'swnr.sheet.movement'}}:
        <div class="flex w-16">
          <input
            class="border border-r-0 border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-l-md text-right"
            type="number"
            name="data.speed"
            min="0"
            step="1"
            value="{{actor.data.data.speed}}"
          />
          <div
            class="border border-l-0 border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-r-md text-base pl-0.5 pr-1"
          >
            m
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col gap-1">
      <h3 class="text-lg">{{localize 'swnr.sheet.rollables'}}</h3>
      <div>
        <a class="morale">
          <i class="fa fa-dice-d6"></i>
          {{localize 'swnr.npc.morale-check'}} {{localize 'swnr.sheet.vs'}}
        </a>
        <input
          class="border border-gray-800 px-1 text-center bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md w-6"
          type="number"
          name="data.moralScore"
          min="0"
          max="12"
          step="1"
          value="{{actor.data.data.moralScore}}"
        />
      </div>
      <div>
        <a class="skill" data-skill-type="untrained">
          <i class="fa fa-dice-d6"></i>
          {{localize 'swnr.sheet.skill'}}: 0
        </a>
      </div>
      <div>
        <a class="skill" data-skill-type="trained">
          <i class="fa fa-dice-d6"></i>
          {{localize 'swnr.npc.trained-skill'}}:
        </a>
        <input
          class="border border-gray-800 px-1 text-center bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md w-6"
          type="number"
          name="data.skillBonus"
          min="0"
          max="9"
          step="1"
          value="{{actor.data.data.skillBonus}}"
        />
      </div>
      <div>
        <a class="saving-throw">
          <i class="fa fa-dice-d6"></i>
          {{localize "swnr.chat.savingThrow"}}:
        </a>
        <input
          class="border border-gray-800 px-1 text-center bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md w-6"
          type="number"
          name="data.saves"
          min="1"
          max="19"
          step="1"
          value="{{actor.data.data.saves}}"
        />
      </div>
    </div>
    <div class="md:col-span-2 lg:col-span-1 flex flex-col gap-1">
      <h3 class="text-lg">{{localize 'swnr.effort.title'}}</h3>
      <div class="gap-1 flex flex-col flex-grow w-full">
        <div class="flex lg:flex-col gap-1">
          <div class="flex-grow">
            {{localize 'swnr.effort.max'}}:
            <input
              class="border border-gray-800 px-1 text-center bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md w-8"
              type="number"
              name="data.effort.max"
              min="0"
              step="1"
              value="{{actor.data.data.effort.max}}"
            />
          </div>
          <div class="flex-grow">
            {{localize 'swnr.effort.current'}}:
            <input
              class="border border-gray-800 px-1 text-center bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md w-8"
              type="number"
              name="data.effort.current"
              min="0"
              step="1"
              max="{{concat data.effort.current data.effort.value}}"
              value="{{actor.data.data.effort.current}}"
            />
          </div>
          <div class="flex-grow">
            {{localize 'swnr.effort.scene'}}:
            <input
              class="border border-gray-800 px-1 text-center bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md w-8"
              type="number"
              name="data.effort.scene"
              min="0"
              step="1"
              max="{{concat data.effort.scene data.effort.value}}"
              value="{{actor.data.data.effort.scene}}"
            />
          </div>
          <div class="flex-grow">
            {{localize 'swnr.effort.day'}}:
            <input
              class="border border-gray-800 px-1 text-center bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md w-8"
              type="number"
              name="data.effort.day"
              min="0"
              step="1"
              max="{{concat data.effort.day data.effort.value}}"
              value="{{actor.data.data.effort.day}}"
            />
          </div>
        </div>
        <div class="flex gap-2 items-center">
          <div>{{actor.data.data.effort.value}}/{{actor.data.data.effort.max}}</div>
          <div
            class="bg-purple-300 border border-purple-900 w-full rounded-full h-full overflow-hidden"
          >
            <div
              class="bg-purple-500 h-full rounded-full"
              style="width: min(calc(100% * {{actor.data.data.effort.value}}/{{actor.data.data.effort.max}}));"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="bg-coolGray-300 border border-coolGray-600 rounded-md p-1 flex flex-wrap justify-between"
  >
    <div class="flex flex-col gap-1" style="flex-grow: 1">
      <h3 class="text-lg">{{localize 'swnr.npc.combat'}}</h3>
      <div>
        {{localize 'swnr.npc.attacks-per-turn'}}:
        <input
          class="w-8 border text-center px-1 border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
          type="number"
          name="data.attacks.number"
          min="0"
          step="1"
          value="{{actor.data.data.attacks.number}}"
        />
      </div>
      <div>
        {{localize 'swnr.npc.attack-bonus-hit'}}:
        <input
          class="w-8 border text-center px-1 border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
          type="number"
          name="data.ab"
          min="0"
          step="1"
          value="{{actor.data.data.ab}}"
        />
      </div>
      <div>
        {{localize 'swnr.npc.attack-bonus-damage'}}:
        <input
          class="w-8 border text-center px-1 border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
          type="number"
          name="data.attacks.bonusDamage"
          min="0"
          step="1"
          value="{{actor.data.data.attacks.bonusDamage}}"
        />
      </div>
      <ul class="flex flex-col gap-1">
        {{#each itemTypes.weapon as |i|}} {{>
        "systems/swnr/templates/actors/fragments/weapon.html" item=i actor=actor
        damageBonus=actor.data.data.attacks.bonusDamage hitBonus=data.data.ab
        type=actor.data.data.type}} {{/each}}
      </ul>
    </div>
    <div class="flex flex-col flex-grow gap-1">
      <h3 class="text-lg">{{localize 'swnr.npc.abilities'}}</h3>
      <ul class="flex flex-col gap-0.5">
        {{#each abilities}} {{> (concat
        "systems/swnr/templates/actors/fragments/" (concat this.type '.html'))
        item=this type=actor.data.data.type }} {{/each}}
      </ul>
    </div>
    <div class="flex flex-col flex-grow gap-1">
      <h3 class="text-lg">{{localize 'swnr.npc.equipment'}}</h3>
      <ul class="flex flex-col gap-0.5">
        {{#each equipment}} {{>
        "systems/swnr/templates/actors/fragments/item.html" item=this
        type=actor.data.data.type }} {{/each}}
      </ul>
    </div>
  </div>
  <div class="flex flex-row flex-wrap gap-2">
    <div class="flex-grow w-56 space-y-2">
      <input
        class="border text-center px-1 border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
        type="text"
        name="data.notes.left.label"
        value="{{actor.data.data.notes.left.label}}"
      />
      <!-- prettier-ignore  -->
      <textarea
        name="data.notes.left.contents"
        class="border px-1 border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
        id=""
        cols="30"
        rows="10"
        placeholder="{{actor.data.data.notes.left.label}}"
      >{{actor.data.data.notes.left.contents}}</textarea>
    </div>
    <div class="flex-grow w-56 space-y-2">
      <input
        class="border text-center px-1 border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
        type="text"
        name="data.notes.right.label"
        value="{{actor.data.data.notes.right.label}}"
      />
      <!-- prettier-ignore  -->
      <textarea
        name="data.notes.right.contents"
        class="border px-1 border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
        id=""
        cols="30"
        rows="10"
        placeholder="{{actor.data.data.notes.right.label}}"
      >{{actor.data.data.notes.right.contents}}</textarea>
    </div>
  </div>
</form>
