<form class="-m-2 p-2 bg-gray-200">
  <div>
    <input type="radio" name="skillList" value="revised" />
    <label for="">Revised Skill List</label>
    <input type="radio" name="skillList" value="classic" />
    <label for="">Classic Skill List</label>
    <input type="radio" name="skillList" value="node" />
    <label for="">No Stock Skill List</label>
  </div>
  <div>
    <input type="radio" name="extra" value="none" />
    <label for="none">No Extra Skills</label>
    <input type="radio" name="extra" value="psionic" />
    <label for="psychic">Add Psychic Skills</label>
    <input type="radio" name="extra" value="spaceMagic" />
    <label for="spaceMagic">Add Space Magic Skills</label>
  </div>
</form>
