<form class="-m-2 p-2 bg-gray-200">
  <div>
        {{localize 'swnr.dialog.hp.text'}}   
  </div>
  <div>
    <input type="radio" name="hpRoll" value="revisedNonWarrior" />
    <label for="revisedNonWarrior">{{localize 'swnr.dialog.hp.revised'}}</label> <br>

    <input type="radio" name="hpRoll" value="revisedWarrior" />
    <label for="revisedWarrior">{{localize 'swnr.dialog.hp.revised-war'}} </label> <br>
    <input type="radio" name="hpRoll" value="classicPsychic" />
    <label for="classicPsychic">{{localize 'swnr.dialog.hp.classic-psy'}}</label> <br>
    <input type="radio" name="hpRoll" value="classicExpert" />
    <label for="classicExpert">{{localize 'swnr.dialog.hp.classic-exp'}}</label> <br>
    <input type="radio" name="hpRoll" value="classicWarrior" />
    <label for="classicWarrior">{{localize 'swnr.dialog.hp.classic-war'}}</label> <br>
    
  </div>
</form>
