<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-2 text-center">
  <div>
    {{localize 'swnr.item.encumbrance'}}:
    <input
      type="number"
      class="w-10 px-1.5 py-3 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
      step="1"
      name="data.encumbrance"
      min="0"
      data-dtype="Number"
      value="{{data.data.encumbrance}}"
    />
  </div>
  {{#if (eq "item" item.type)}}
  <div class="flex flex-col items-center">
    {{localize 'swnr.item.quantity'}}:
    <input
      type="number"
      class="w-10 px-1.5 py-3 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
      name="data.quantity"
      min="0"
      step="1"
      value="{{data.data.quantity}}"
    />
  </div>
  <div class="flex flex-wrap gap-2 justify-around">
    {{localize 'swnr.item.bundledCount'}}:
    <div class="flex gap-2 items-center">
      <input
        type="checkbox"
        name="data.bundle.bundled"
        {{checked data.data.bundle.bundled}}
      />
      <input
        type="number"
        class="w-10 px-1.5 py-3 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
        step="1"
        name="data.bundle.amount"
        min="1"
        data-dtype="Number"
        value="{{data.data.bundle.amount}}"
      />
    </div>
  </div>
  {{/if}}
  <div>
    {{localize 'swnr.item.location'}}:
    <select
      class="px-1 text-black border border-gray-800 bg-gray-400 bg-opacity-75 rounded-md"
      name="data.data.location"
    >
      {{#select data.location}}
      <option value="readied">{{localize 'swnr.item.locationReadied'}}</option>
      <option value="stowed">{{localize 'swnr.item.locationStowed'}}</option>
      <option value="other">{{localize 'swnr.item.locationOther'}}</option>
      {{/select}}
    </select>
  </div>
  <div class="flex flex-col items-center">
    {{localize 'swnr.item.techlevel'}}:
    <input
      type="number"
      class="w-6 px-1.5 py-3 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
      step="1"
      name="data.tl"
      min="0"
      data-dtype="Number"
      value="{{data.data.tl}}"
    />
  </div>
  <div class="flex flex-col items-center">
    {{localize 'swnr.item.cost'}}:
    <input
      type="number"
      class="w-16 px-1.5 py-3 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
      step="1"
      name="data.cost"
      min="0"
      data-dtype="Number"
      value="{{data.data.cost}}"
    />
  </div>
  <div>
    {{localize 'swnr.item.quality.label'}}:
    <select
      class="px-1 text-black border border-gray-800 bg-gray-400 bg-opacity-75 rounded-md"
      name="data.quality"
    >
      {{#select data.data.quality}}
      <option value="juryRigged">
        {{localize 'swnr.item.quality.juryRigged'}}
      </option>
      <option value="stock">{{localize 'swnr.item.quality.stock'}}</option>
      <option value="mastercrafted">
        {{localize 'swnr.item.quality.mastercrafted'}}
      </option>
      {{/select}}
    </select>
  </div>
  {{#if (eq "weapon" item.type)}}
  <div class="flex flex-col items-center">
    {{localize 'swnr.item.range'}}:
    <span><input
      type="number"
      class="w-12 px-1.5 py-3 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
      step="1"
      name="data.range.normal"
      min="0"
      data-dtype="Number"
      value="{{data.data.range.normal}}"
    /> /
    <input
      type="number"
      class="w-12 px-1.5 py-3 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
      step="1"
      name="data.range.max"
      min="0"
      data-dtype="Number"
      value="{{data.data.range.max}}"
    />
    </span>
  </div>
  {{/if}}
</div>
