<form class="{{cssClass}} -m-2 p-2 bg-gray-200">
  {{> "systems/swnr/templates/items/fragments/desc.html"}} \
  {{> "systems/swnr/templates/items/fragments/item-base.html"}}
  {{localize 'swnr.sheet.armor-class'}}:
  <input
    type="number"
    step="1"
    name="data.ac"
    min="0"
    data-dtype="Number"
    value="{{data.ac}}"
  />
  {{localize 'swnr.armor.type.label'}}:
  <select name="data.type">
    {{#select data.type}}
    <option value="primitive">{{localize 'swnr.armor.type.primitive'}}</option>
    <option value="street">{{localize 'swnr.armor.type.street'}}</option>
    <option value="combat">{{localize 'swnr.armor.type.combat'}}</option>
    <option value="powered">{{localize 'swnr.armor.type.powered'}}</option>
    {{/select}}
  </select>
  <label>
    <input type="checkbox" name="data.shield" {{#if
    data.shield}}checked{{/if}}>{{localize 'swnr.armor.shield'}}</label
  >
</form>
