<form class="{{cssClass}} -m-2 p-2 bg-gray-200">
  {{> "systems/swnr/templates/items/fragments/name.html"}}
  {{> "systems/swnr/templates/fragments/desc.html"}}
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-2 text-center">
    <div class="flex flex-col items-center">
      {{localize 'swnr.item.techlevel'}}:
      <input
        type="number"
        class="w-6 px-1.5 py-3 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
        step="1"
        name="data.tl"
        min="0"
        data-dtype="Number"
        value="{{data.tl}}"
      />
    </div>
    <div class="flex flex-col items-center">
      {{localize 'swnr.item.strain'}}:
      <input
        type="number"
        class="w-16 px-1.5 py-3 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
        step="1"
        name="data.strain"
        min="1"
        data-dtype="Number"
        value="{{data.strain}}"
      />
    </div>
    <div class="flex flex-col items-center">
      {{localize 'swnr.item.cost'}}:
      <input
        type="number"
        class="w-16 px-1.5 py-3 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
        step="1"
        name="data.cost"
        min="0"
        data-dtype="Number"
        value="{{data.cost}}"
      />
    </div>
  </div>
</form>
