<li class="item" data-item-id="{{item._id}}">
  <div class="item-name">{{item.name}}</div>
  <div>{{item.type}}</div>
  <div style="display: flex">
    {{#if (eq item.type "item")}}
    <div>
      <input
        type="number"
        name="items.{{item._id}}.data.quantity"
        min="0"
        step="1"
        value="{{item.data.data.quantity}}"
      />
    </div>
    {{/if}} {{#if (eq type 'character')}}
    <div>
      <select name="items.{{item._id}}.data.location">
        {{#select item.data.data.location}}
        <option value="readied">
          {{localize 'swnr.item.locationReadied'}}
        </option>
        <option value="stowed">{{localize 'swnr.item.locationStowed'}}</option>
        <option value="other">{{localize 'swnr.item.locationOther'}}</option>
        {{/select}}
      </select>
    </div>
    {{/if}}
    <div class="item-controls">
      <a
        class="item-control item-edit"
        title="{{localize 'swnr.sheet.edit-item'}}"
      >
        <i class="fas fa-edit"></i>
      </a>
      <a
        class="item-control item-delete"
        title="{{localize 'swnr.sheet.delete-item'}}"
      >
        <i class="fas fa-trash"></i>
      </a>
    </div>
  </div>
</li>
