<div class="item flex gap-1 flex-wrap items-center" data-item-id="{{item.id}}">
  <a><img class="w-5 h-5 item-click" src="systems/swnr/assets/icons/game-icons.net/item-icons/{{item.type}}.svg"/></a>
  <div class="item-name item-click"><a>{{item.name}}</a></div>
  <div class="flex gap-1 items-baseline">
    {{#if (eq item.type "item")}}
    <div>
      <input
        type="number"
        class="w-8 border text-center px-1 border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
        name="items.{{item.id}}.data.quantity"
        min="0"
        step="1"
        value="{{item.data.data.quantity}}"
      />
    </div>
    {{/if}} {{#if (eq type 'character')}}
    <div>
      <select class="px-1.5 border border-gray-800 bg-gray-400 bg-opacity-75 rounded-md" name="items.{{item.id}}.data.location">
        {{#select item.data.data.location}}
        <option value="readied">
          {{localize 'swnr.item.locationReadied'}}
        </option>
        <option value="stowed">{{localize 'swnr.item.locationStowed'}}</option>
        <option value="other">{{localize 'swnr.item.locationOther'}}</option>
        {{/select}}
      </select>
    </div>
    {{/if}}
    <div class="flex gap-1.5">
      <a
        class="item-control item-edit text-gray-600 hover:text-purple-800 transition-colors"
        title="{{localize 'swnr.sheet.edit-item'}}"
      >
        <i class="fas fa-edit"></i>
      </a>
      <a
        class="item-control item-delete text-gray-600 hover:text-red-600 transition-colors"
        title="{{localize 'swnr.sheet.delete-item'}}"
      >
        <i class="fas fa-trash"></i>
      </a>
    </div>
  </div>
</div>
