<div class="flex gap-1 h-7 items-center item power" data-item-id="{{item.id}}">
  <h4 class="item-name item-click"><a>{{item.name}}</a></h4>
  <output> {{item.description}} </output>
  <a
    class="item-control item-edit text-gray-600 hover:text-purple-800 transition-colors"
    title="{{localize 'swnr.sheet.edit-item'}}"
  >
    <i class="fas fa-edit"></i>
  </a>
  <a
    class="item-control item-delete text-gray-600 hover:text-red-600 transition-colors"
    title="{{localize 'swnr.sheet.delete-item'}}"
  >
    <i class="fas fa-trash"></i>
  </a>
</div>
