<div class="item skill skillRoll w-32 flex-grow space-y-1" data-item-id="{{item._id}}">
  <a class="sheet-button inline-flex flex-wrap gap-2">
    <div class="flex-shrink">
    {{zeroWidthBreaker item.name}}
    {{numberFormat item.data.data.rank decimals=0 sign=true}}
    </div>
    <i class="fas fa-dice-d20"></i>
  </a>

  <div class="item-controls">
    <a
      class="item-control item-edit text-gray-600 hover:text-purple-800 transition-colors"
      title="{{localize 'swnr.sheet.edit-item'}}"
    >
      <i class="fas fa-edit"></i>
    </a>
    <a
      class="item-control item-delete text-gray-600 hover:text-red-600 transition-colors"
      title="{{localize 'swnr.sheet.delete-item'}}"
    >
      <i class="fas fa-trash"></i>
    </a>
  </div>
</div>
